html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

body {
  font: 18px sans-serif, Helvetica, Arial;
}

header {
  margin: 0.5rem 0;
  text-align: center;
}

h1,
h2 {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

h2 {
  margin: 0.25rem 0;
}

main {
  display: flex;
  /* justify-content: space-around; */
  justify-content: center;
}

#player-board,
#cpu-board {
  font-size: 12px;
}

.gameboard {
  background-color: gray;
  /* opacity: 0.5; */
  width: 350px;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: repeat(10, auto);
  border: 1px solid black;
}

.playerSquare,
.cpuSquare {
  position: relative;
  border: 1px solid black;
  /* z-index: 1; */
}

.playerSquare:hover {
  background-color: aquamarine;
}

.hit {
  background-color: red;
}

.miss {
  background-color: blue;
}

.player-ships-rendered,
.cpu-ships-rendered,
.player-ships-container {
  margin: 0;
  position: relative;
}

img {
  position: absolute;
  height: 35px;
}

#submarine-img {
  /* display: none; */
  width: 105px;
  top: 175px;
  left: -35px;
  transform: rotate(-90deg);
}

#patrol-img {
  /* display: none; */
  width: 70px;
  top: 175px;
  left: 280px;
}

#carrier-img {
  /* display: none; */
  width: 175px;
  top: 0px;
  left: 35px;
}

#destroyer-img {
  /* display: none; */
  width: 105px;
  top: 280px;
  left: 210px;
  transform: rotate(-90deg);
}

#battleship-img {
  /* display: none; */
  width: 140px;
  top: 35px;
  left: 0px;
}

#place-ships-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 5rem;
  margin-top: 26.5px;
  /* display: none; */
  flex-direction: column;
  width: 175px;
}

.submarine {
  position: absolute;
  width: 105px;
}

.patrol {
  position: absolute;
  width: 70px;
}

.carrier {
  position: absolute;
  width: 175px;
}

.destroyer {
  position: absolute;
  width: 105px;
}

.battleship {
  position: absolute;
  width: 140px;
}

.ships-to-place {
  /* top: 30px; */
  top: 81px;
}

#player-board {
  display: none;
  margin-right: 5rem;
}

.hide-ship {
  display: none;
}

#btn-rotate-ship {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  height: 30px;
  width: 80px;
  border-radius: 10px;
}

#rotate-label {
  padding: 0;
  margin: 0;
  margin-left: 0.75rem;
  font-size: 14px;
}

#btn-rotate-ship:hover,
#randomize-player-fleet:hover {
  background-color: #e8e8e8;
}

#randomize-player-fleet {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  background-color: #c1c1c1;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  width: 175px;
  border-radius: 10px;
  margin-bottom: 5px;
}
