main {
  display: flex;
  justify-content: space-around;
}

.gameboard {
  width: 350px;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: repeat(10, auto);
  border: 1px solid black;
}

.playerSquare,
.cpuSquare {
  border: 1px solid black;
}

.playerSquare:hover {
  background-color: aquamarine;
}

.hit {
  background-color: red;
}

.miss {
  background-color: blue;
}
